* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}




/* navation style start */
header {
    padding: 20px 220px;
}

.section-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    border: 0;

}

.img-contaner {
    width: 86.041px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 40px;


}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242);
}

.header-container {
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
}

.colors {
    color: #FF42A5;
}



/* navation style end */

.button {
    border: 0;
    border-radius: 8px;
    width: 262px;
    height: 56px;
    font-size: 20px;
}

.btn-primary-btn {
    border: none;
    border-radius: 8px;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}


.btn-primary-bth {
    cursor: pointer;
    border: none;
    width: 120px;
    color: #fff;
    height: 40px;
    border-radius: 48px;
    background: #4EC5F7;
}

.btn-primary-btn-1 {
    cursor: pointer;
    border: none;
    width: 120px;
    color: #fff;
    height: 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}





h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    margin-bottom: 30px;
}

h2 {
    color: #0B0223;

    text-align: center;
    text-align: left;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;


}


.banner-section {
    background: url(images/Group\ 14.png);
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    display: flex;
    justify-content: space-between;

}

.banner-img img {

    width: 100%;
    height: 100%;
}


.banner-text {
    text-align: left;
    display: flex;
    justify-content: center;
}

.btn-primary-btn {
    cursor: pointer;
    margin-right: 40px;
}

/* games section style */
.games-container {
    padding: 20px 150px;
    display: flex;
    justify-content: space-around;
}

.games-img {
    width: 80%;
}

.games-text {
    text-align: right;
    margin-right: 30px;
    color: #534C64;
}

.games-text-1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

/* online-game style */
.color-text {
    color: tomato);
}

.online-games-container {
    padding: 20px 120px;
}

.online-gamer-card img {
    width: 80%;
}

h2 {
    text-align: center;

}

.online-game-text {
    text-align: center;


}

.online-game-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.section-imges {
    width: 300px;
    height: 420px;
}

.online-gamer-card {
  
    gap: 60px;
    width: 40%;
    height: 400px;
   
   
}


.color-text{
    color: #FF42A5;
}




/* play container style */

.play-container {
    padding: 20px 220px;
    display: flex;
    justify-content: space-around;
}

.play-title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
    margin-top: 130px;
    text-align: right;
    margin-right: px;
}

.play-text-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-title p {
    color: #534C64;
}

.play-img img {
    width: 100%;
    height: 500px;
}

.play-img-1 img {
    width: 170px;
    height: 180px;
}

.play-img-1 {
    border-radius: 70px 30px;
    align-items: center;
    padding: 40px;
    position: relative;
    bottom: 100px;
}


/* games-section style */
.games-section {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 180px;

}

.games-images {
    padding: 20px 220px;
    width: 65%;
    height: 20px;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.games-title {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.games-title:hover {

    border: 1px solid tomato;
    border-radius: 50px;
    background: #FFF;

}



.games-images img {
    display: flex;
    justify-content: center;
}


/* footer section style  */
.footer-section {
    color: #fff;
    width: 100%;
    height: 500px;
    background: #0B0223;
}

.footer-img {
    margin-top: 30px;
    padding: 20px;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;

}

.footer-title {
    color: #fff;
    margin: 0 auto;
}

.footer-container {

    display: flex;
    justify-content: center;
}

.footer-text {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    gap: 20px;

}

.fopter-text-1 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.60);
    gap: 20px;
}

.footer-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icon {
    width: 30.13px;
    height: 25px;
   
}

h6 {
    text-align: center;
}

/* responsive medid style */
@media screen and (max-width: 576px) {

    header {
        margin-left: 20px;
    }

    nav {
        flex-direction: column;
    }

}